{% extends 'base.html' %}
{% load static %}

{% block content %}

{% for product in products %}

<section class="page-section">
    <div class="container">
        <div class="product-item">
            <div class="d-flex product-item-title">
                <div class="d-flex me-auto bg-faded p-5 rounded">
                    <h2 class="section-heading mb-0"><span class="section-heading-upper"></span><span class="section-heading-lower">{{ product.name }}</span></h2>
                </div>
            </div><img class="img-fluid d-flex mx-auto product-item-img mb-3 mb-lg-0 rounded" src="{{ product.imgURL.url }}">
            <div class="bg-faded p-5 rounded">
                <p class="mb-0">{{ product.desc }}</p>
            </div>
        </div>
    </div>
</section>

{% endfor %}

{% endblock content %}